{% extends 'base.html.twig' %}

{% block title %}New Header{% endblock %}

{% block body %}
    <h1>Génération de CV</h1>

    {{ include('cv/_form.html.twig') }}

    <script>
        // Trainning
        const addTrainningToCollection = (e) => {
            console.log(e);
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('div');
            item.classList.add('tag-trainning');
            item.classList.add('col-sm-6');
            item.classList.add('mt-3');
            item.classList.add('form-control');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
            // add a delete link to the new form
            addTagTrainningDeleteLink(item);
        };

        const addTagTrainningDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.classList.add('btn-danger');
            removeFormButton.innerText = 'X';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }

        document
            .querySelectorAll('.add_trainning_link')
            .forEach(btn => {
                btn.addEventListener("click", addTrainningToCollection)
            });

        document
            .querySelectorAll('.tag-trainning')
            .forEach((tag) => {
                addTagTrainningDeleteLink(tag)
            })

        // Certification
        const addCertificationToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('div');
            item.classList.add('tag-certification');
            item.classList.add('col-sm-6');
            item.classList.add('mt-3');
            item.classList.add('form-control');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
            // add a delete link to the new form
            addTagCertificationDeleteLink(item);
        };

        const addTagCertificationDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.classList.add('btn-danger');
            removeFormButton.innerText = 'X';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }

        document
            .querySelectorAll('.add_certification_link')
            .forEach(btn => {
                btn.addEventListener("click", addCertificationToCollection)
            });

        document
            .querySelectorAll('.tag-Certification')
            .forEach((tag) => {
                addTagCertificationDeleteLink(tag)
            })

        // Skills
        const addSkillsToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('div');
            item.classList.add('tag-skills');
            item.classList.add('col-sm-6');
            item.classList.add('mt-3');
            item.classList.add('form-control');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
            // add a delete link to the new form
            addTagSkillsDeleteLink(item);
        };

        const addTagSkillsDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.classList.add('btn-danger');
            removeFormButton.innerText = 'X';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }

        document
            .querySelectorAll('.add_skills_link')
            .forEach(btn => {
                btn.addEventListener("click", addSkillsToCollection)
            });

        document
            .querySelectorAll('.tag-Skills')
            .forEach((tag) => {
                addTagSkillsDeleteLink(tag)
            })

        // Experience
        const addExperienceToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('div');
            item.classList.add('tag-experience');
            item.classList.add('col-sm-6');
            item.classList.add('mt-3');
            item.classList.add('form-control');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
            // add a delete link to the new form
            addTagExperienceDeleteLink(item);
        };

        const addTagExperienceDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.classList.add('btn-danger');
            removeFormButton.innerText = 'X';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }

        document
            .querySelectorAll('.add_experience_link')
            .forEach(btn => {
                btn.addEventListener("click", addExperienceToCollection)
            });

        document
            .querySelectorAll('.tag-experience')
            .forEach((tag) => {
                addTagExperienceDeleteLink(tag)
            })
    </script>
{% endblock %}


