{%- block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {{- form_label(form, null, {'label_attr':{'class':'col-sm-2 col-form-label'}}) -}}
    <div class="col-sm-10">
        {{- form_widget(form, widget_attr) -}}
    </div>
    {{- form_help(form) -}}
    {{- form_errors(form) -}}
{%- endblock form_row %}
